.card-tarefas {
    display: flex;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 300px;
    border-radius: 20px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    max-width: 100%;
}

.card-body > h5 {
    text-align: center;
}

.card-body > span {
    display: flex;

}

.text-conteudo > h5 {
    text-align: center;
    bottom: 20px;
}
.container-card-efetuado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.container-btn-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.container-btn-card button {
    width: 80px;
    border-radius: 10px;
}

/* --------------- Card de Edição --------- ------- */
.card-title > input {
    border: none;
    outline: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

span > input {
    font-weight: 600;
    margin-left: 5px;
    border: none;
    outline: none;
}

.card-text > textarea {
    color: #000000;
    border: none;
    background-color: #ffffff;
}

.container-btn-edition {
    display: flex;
    gap: 10px;
}

.container-btn-edition > button {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .card-tarefas {
        width: 200px;
    }
}